! Special

*.foreground:   #bfbab0
*.background:   #1f2430
*.cursorColor:  #ffcc66

! Black

*.color0:       #1f2430
*.color8:       #292b30

! Red

*.color1:       #ff3333
*.color9:       #ff6666

! Green

*.color2:       #bae67e
*.color10:      #cee6ac

! Yellow

*.color3:       #ffd580
*.color11:      #ffe6b3

! Blue

*.color4:       #73d0ff
*.color12:      #a6e1ff

! Magenta

*.color5:       #f28779
*.color13:      #ffd6da

! Cyan

*.color6:       #95e6cb
*.color14:      #ffffff

! White

*.color7:       #ffffff
*.color15:      #ffffff

URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.saveLines: 5000

! font
URxvt.font: xft:Hack:size=11:antialias=true
URxvt.letterSpace: -1
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! copy-paste
URxvt.iso14755: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
